<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bosictsolution.invsale">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InvSale"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SaleOrderItemReportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoInternetActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationSettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BTPrinterSettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaleBillActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaleOrderDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaleOrderSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaleOrderSummaryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.InvSale.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>